In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset.csv")

In [3]:
df.head()

    vendor    model  myct   min    max  cache  chmin  chmax  prp  erp
0  adviser    32/60   125   256   6000    256     16    128  198  199
1   amdahl   470v/7    29  8000  32000     32      8     32  269  253
2   amdahl  470v/7a    29  8000  32000     32      8     32  220  253
3   amdahl  470v/7b    29  8000  32000     32      8     32  172  253
4   amdahl  470v/7c    29  8000  16000     32      8     16  132  132

In [4]:
df.isna().sum()

vendor    0
model     0
myct      0
min       0
max       0
cache     0
chmin     0
chmax     0
prp       0
erp       0
dtype: int64

In [5]:
df.describe()

,myct,min,max,cache,chmin,chmax,prp,erp
count,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000
mean,203.822967,2867.980861,11796.153110,25.205742,4.698565,18.267943,105.622010,99.330144
std,260.262926,3878.742758,11726.564377,40.628722,6.816274,25.997318,160.830733,154.757102
min,17.000000,64.000000,64.000000,0.000000,0.000000,0.000000,6.000000,15.000000
25%,50.000000,768.000000,4000.000000,0.000000,1.000000,5.000000,27.000000,28.000000
50%,110.000000,2000.000000,8000.000000,8.000000,2.000000,8.000000,50.000000,45.000000
75%,225.000000,4000.000000,16000.000000,32.000000,6.000000,24.000000,113.000000,101.000000
max,1500.000000,32000.000000,64000.000000,256.000000,52.000000,176.000000,1150.000000,1238.000000

In [6]:
x = df.iloc[:,2:8]
y = df.iloc[:,9]

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
lr = LinearRegression()
lr.fit(x_train,y_train)
lr.score(x_test,y_test)

0.8655244904032126

In [11]:
from sklearn.metrics import mean_absolute_error
y_pred = lr.predict(x_test)
print(mean_absolute_error(y_test,y_pred))

34.76830316656168